# Classification of IRIS-data with support vector machines (SVP) and logistic regression

In [41]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## Load and preprocess data

In [27]:
# Load features and targets
iris_features = load_iris(as_frame=True)['data']
iris_target = pd.DataFrame(load_iris(as_frame=True)['target'])
# Check for missing data
print(f'Any missing data in features data? Answer: {iris_features.isna().any().any()}')
print(f'Any missing data in target data? Answer: {iris_target.isna().any().any()}')
# Unless scaling is not necessary for logistic regression, it may for LASSO or RIDGE
# Normalizing features (all features are interval variables)
scaler = StandardScaler()
iris_features_scaled = pd.DataFrame(scaler.fit_transform(iris_features), columns=iris_features.columns)
# No normalization is applied to target, as this column is nominal

Any missing data in features data? Answer: False
Any missing data in target data? Answer: False

## Logistical regression to classify Iris data

In [42]:
# Split data in training and test data set
X_train, X_test, y_train, y_test = train_test_split(iris_features_scaled, iris_target)
# Create instance of logistic regression
log_regress = LogisticRegression(multi_class='multinomial')
# Calculate regression on training data set
log_regress.fit(X_train, y_train)
# Make predictions on test data set
log_regress.score(X_test, y_test)

/home/felbus/ml_for_physicists/lib/python3.10/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

1.0

In [43]:
log_regress.predict(X_test)

array([2, 2, 2, 1, 1, 0, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 0, 2, 1, 1, 1,
       0, 0, 1, 2, 1, 0, 0, 0, 1, 2, 0, 1, 2, 2, 0, 2])

In [45]:
y_test.assign(prediction=log_regress.predict(X_test))

     target  prediction
138       2           2
134       2           2
126       2           2
56        1           1
65        1           1
15        0           0
54        1           1
111       2           2
94        1           1
50        1           1
93        1           1
131       2           2
58        1           1
91        1           1
68        1           1
57        1           1
112       2           2
9         0           0
144       2           2
51        1           1
88        1           1
95        1           1
24        0           0
28        0           0
72        1           1
148       2           2
92        1           1
1         0           0
3         0           0
39        0           0
62        1           1
143       2           2
44        0           0
55        1           1
113       2           2
136       2           2
19        0           0
103       2           2